<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>
    <%=title%>
  </title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Home</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <%for(let i = 0; i < nav.length; i++) {%>
          <li>
            <a href="<%=nav[i].link%>">
              <%=nav[i].title%></a>
          </li>
          <%}%>
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
              <form class="form-inline">
                <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input
                  type="text" class="form-control pull-left" placeholder="Search">
              </form>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="masthead">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>
            <%=title%>
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg">
            <div class="row">
              <div class="col-sm-12">


              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /cont -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div>
    </div><!-- /cont -->

  </div>


  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <div class="panel">
          <div class="panel-body">



            <!--/stories-->
            <form name="newRegistration" id="newRegistration"  action="newRegistration" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <table border = 0 >
                  <tr><td width=200>First Name</td><td><input type="text" id="cust_name_first" name="cust_name_first" class="form-control"></td></tr>
                  <tr><td>Last Name</td><td><input type="text" id="cust_name_last" name="cust_name_last" class="form-control"></td></tr>
                  <tr><td>e-Mail</td><td><input type="email" id="cust_email" name="cust_email" class="form-control"></td></tr>
                  <tr><td>Login Password</td><td><input type="text" id="cust_login_password" name="cust_login_password" class="form-control"></td></tr>
                  <tr><td>Confirm Password</td><td><input type="text" id="cust_login_password2" name="cust_login_password2" class="form-control"></td></tr>
                  <tr><td>Nickname</td><td><input type="text" id="cust_review_show_nickname" name="cust_review_show_nickname" class="form-control"></td></tr>
                  <tr><td><br></td></tr>
                  <tr><td>Street Address Line 1</td><td><input type="text" id="addr_address_line_1" name="addr_address_line_1" class="form-control"></td></tr>
                  <tr><td>Street Address Line 2</td><td><input type="text" id="addr_address_line_2" name="addr_address_line_2" class="form-control"></td></tr>
                  <tr><td>City</td><td><input type="text" id="addr_city" name="addr_city" class="form-control"></td></tr>
                  <tr><td>State</td><td><input type="text" id="addr_state" name="addr_state" class="form-control"></td></tr>
                  <tr><td>ZIP Code</td><td><input type="text" id="addr_postal_code" name="addr_postal_code" class="form-control"></td></tr>
              </table>
                <button type="submit" class="btn btn-primary"> Register </button>
            </form>

            <!--/stories-->
            <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>

          </div>
        </div>



      </div>
      <!--/col-12-->
    </div>
  </div>


  <hr>

  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">

      </div>
    </div>
  </div>

  <hr>

  <hr>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">


        </div>

      </div>
    </div>
  </footer>
  <!-- script references -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>